      <!-- Putting the search box in a well -->

        <div class="well">
          <form role="form" action="/food/index" method="get">
            <div class="form-group">
              <label for="fooditem-typeahead"><h3>What are you craving?<h5>(or enter a food truck name)</h5></h3></label><br>
              
              <!-- Typeahead for food-item based searches -->
              <input type="search" class="typeahead form-control" id="fooditem-typeahead" name="query" placeholder="Enter a food item..."><br><br>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
          </form>
        </div>
        <!-- /.well -->

<script>

// constructs the suggestion engine
var fooditems = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  limit: 10,
  prefetch: {
    // url points to a json file that contains an array of food items available 
    // in all food trucks
    url: '/food/autocomplete.json',
    // the json file contains an array of strings, but the Bloodhound
    // suggestion engine expects JavaScript objects so this converts all of
    // those strings
    filter: function(list) {
      return $.map(list, function(fooditem) { return { name: fooditem }; });
    }
  }
});
 
// kicks off the loading/processing of `local` and `prefetch`
fooditems.initialize();
 
$('#fooditem-typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'fooditems',
  displayKey: 'name',
  // `ttAdapter` wraps the suggestion engine in an adapter that
  // is compatible with the typeahead jQuery plugin
  source: fooditems.ttAdapter()
});

</script>
